<article>
<h2>Wiki DAO Service</h2>

<h3>DAO Service</h3>
<p>DAO staat voor Data Access Object en is object dat een interface biedt tot de Database.
In het DAO object zijn all CRUD (Create, Read, Update en Delete) operations opgenomen om de data in de database te wijzigen.</p>

<h4>Installatie</h4>
<p>De DAO service zijn programmatisch al opgenomen in de applicatie en vereisen geen installatie</p>

<h4>Werking</h4>
<p>In de applicatie zijn de volgende methoden opgenomen:<br/></p>
<ul>
	<li>saveUser (voor het toevoegen van een User).</li>
	<li>getUser (voor het opvragen van een User).</li>
	<li>getUsers(voor het opvragen van alle Users).</li>
	<li>deleteUser(voor het verwijderen van een User).</li>
	<li>updateUser(voor het updaten van informatie van een User).</li>
</ul>
<br/>
<p>Deze methoden zijn middels Morphia verbonden aan de Database en bieden de mogelijkheid om de data in de Database te wijzigen.</p>
</article>