<h2>Delete User</h2>
<form class="form-horizontal" role="form" action="rest/user/deleteUser" method="post">
	<table id="registerField" class="table_type_01">
		<tr>
			<td><label>A/NL number</label></td>
			<td>{{user.id}} <input type="hidden" name="id" value="{{user.id}}"/></td>
		</tr>
		<tr>
			<td><label>Firstname</label></td> 
			<td>{{user.firstName}}</td>
		</tr>
		<tr>
			<td><label>Middlename</label></td>
			<td>{{user.middleName}}</td>
		</tr>
		<tr>
			<td><label>Surname</label></td> 
			<td>{{user.surName}}</td>
		</tr>
		<tr>
			<td><label>Date of Birth</label></td>
			<td>{{user.geboorteDatum}}</td>
		</tr>
		<tr>
			<td><label>Function</label></td>
			<td>{{user.function}}</td>
		</tr>
		<tr>
			<td><label>Competences</label></td>
			<td>
				<ul>
					<li ng-repeat="comp in user.competenties">{{comp}}</li>
				</ul> 
			</td>
		</tr>
		<tr>
			<td><label>Vip</label></td>
			<td>{{ user.vip }}</td>
		</tr>
		<tr>
			<td colspan="2">
				<button type="submit" id="saveButton" class="btn btn-success" onclick="return confirm('Are you sure?')">Confirm!</button>
			</td>
		</tr>
	</table>
</form>