<div ng-init="onload()">
<fieldset>
		<legend class="toggleAdvSearchBtn" ng-click="toggleAdvSearch()">Filter/search</legend>

		<table id="advSearchBox"  class="table_type_01" >
			<tr id="filterAdd">
				<td colspan=2>
					<div id="addFilterBox">
						<span id="addFilterImage"><img id="addFilter" ng-click="addNewFilter(searchBy)" src="images/plusSign.png" alt="Add filter" /></span>
						<select id="searchBy" ng-model="searchBy">
							<option id="id" value="id">ID</option>
							<option id="firstName" value="fn">Firstname</option>
							<option id="middleName" value="mn">Middlename</option>
							<option id="surName" value="sn">Surname</option>
							<option id="geboorteDatum" value="dob">Date of Birth</option>
							<option id="function" value="f">Function</option>
							<!-- <option id="compentence" value="comp">Competence</option> -->
							<option id="function" value="vip">VIP</option>
						</select>
					</div>
				</td>
			</tr>
			<tr id="filter1" ng-hide="filterId">
				<td>
					<label>ID: </label>
				</td>
				<td >
					<input id="textSearchBy" ng-model="searchTextid" placeholder="Search" type="text" />
				</td>
			</tr>
			<tr id="filterFn" ng-hide="filterFn">
				<td>
					<label>Firstname: </label>
				</td>
				<td >
					<input id="textSearchBy" ng-model="searchTextfirstName" placeholder="Search" type="text" />
				</td>
			</tr>
			<tr id="filterMn" ng-hide="filterMn">
				<td>
					<label>Middlename: </label>
				</td>
				<td >
					<input id="textSearchBy" ng-model="searchTextmiddleName" placeholder="Search" type="text" />
				</td>
			</tr>
			<tr id="filterSn" ng-hide="filterSn">
				<td>
					<label>Surname: </label>
				</td>
				<td >
					<input id="textSearchBy" ng-model="searchTextsurName" placeholder="Search" type="text" />
				</td>
			</tr>
			<tr id="filterDoB" ng-hide="filterDoB">
				<td>
					<label>Date of Birth: </label>
				</td>
				<td >
					<input id="textSearchBy" ng-model="searchTextgeboorteDatum" placeholder="Search" type="text" />
				</td>
			</tr>
			<tr id="filterF" ng-hide="filterF">
				<td>
					<label>Function: </label>
				</td>
				<td >
					<input id="textSearchBy" ng-model="searchTextfunction" placeholder="Search" type="text" />
				</td>
			</tr>
			<tr id="filterComp" ng-hide="filterComp">
				<td>
					<label>Competences: </label>
				</td>
				<td >
					<input id="textSearchBy" ng-model="searchTextcomp" placeholder="Search" type="text" />
				</td>
			</tr>
			<tr id="filterVip" ng-hide="filterVip">
				<td>
					<label>VIP: </label>
				</td>
				<td >
					<input id="textSearchBy" ng-model="searchTextvip" placeholder="Search" type="text" />
				</td>
			</tr>
		</table>
		
</fieldset>
<table class="table_type_03">
	<tr>
		<th ng-click="orderByField='id';reverseSort = !reverseSort" >
			ID
			<span ng-show="orderByField == 'id'">
				<span ng-show="!reverseSort">&#x25BC;</span>
				<span ng-show="reverseSort">&#x25B2;</span>
			</span>
		</th>
		<th ng-click="orderByField='firstName';reverseSort = !reverseSort">
			Firstname
			<span ng-show="orderByField == 'firstName'">
				<span ng-show="!reverseSort">&#x25BC;</span>
				<span ng-show="reverseSort">&#x25B2;</span>
			</span>
		</th>
		<th ng-click="orderByField='middleName';reverseSort = !reverseSort">
			Middlename
			<span ng-show="orderByField == 'middleName'">
				<span ng-show="!reverseSort">&#x25BC;</span>
				<span ng-show="reverseSort">&#x25B2;</span>
			</span>
		</th>
		<th ng-click="orderByField='surName';reverseSort = !reverseSort">
			Surname
			<span ng-show="orderByField == 'surName'">
				<span ng-show="!reverseSort">&#x25BC;</span>
				<span ng-show="reverseSort">&#x25B2;</span>
			</span>
		</th>
		<th ng-click="orderByField='geboorteDatum';reverseSort = !reverseSort">
			Date of birth
			<span ng-show="orderByField == 'geboorteDatum'">
				<span ng-show="!reverseSort">&#x25BC;</span>
				<span ng-show="reverseSort">&#x25B2;</span>
			</span>
		</th>
		<th ng-click="orderByField='function';reverseSort = !reverseSort">
			Function
			<span ng-show="orderByField == 'function'">
				<span ng-show="!reverseSort">&#x25BC;</span>
				<span ng-show="reverseSort">&#x25B2;</span>
			</span>
		</th>
		<th ng-click="orderByField='comp';reverseSort = !reverseSort">
			Competence
			<span ng-show="orderByField == 'comp'">
				<span ng-show="!reverseSort">&#x25BC;</span>
				<span ng-show="reverseSort">&#x25B2;</span>
			</span>
		</th>
		<th ng-click="orderByField='vip';reverseSort = !reverseSort">
			VIP
			<span ng-show="orderByField == 'vip'">
				<span ng-show="!reverseSort">&#x25BC;</span>
				<span ng-show="reverseSort">&#x25B2;</span>
			</span>
		</th>
		<th>
			Edit
		</th>
		<th>
			Delete			
		</th>
	</tr>
	<tr class="userListItem" ng-repeat="user in users | orderBy:orderByField:reverseSort |filter:{id:searchTextid,firstName:searchTextfirstName,middleName:searchTextmiddleName,surName:searchTextsurName,geboorteDatum:searchTextgeboorteDatum,function:searchTextfunction,comp:searchTextcomp,vip:searchTextvip}">
		<td>{{ user.id }}</td>
		<td>{{ user.firstName }}</td>
		<td>{{ user.middleName }}</td>
		<td>{{ user.surName }}</td>
		<td>{{ user.geboorteDatum }}</td>
		<td>{{ user.function }}</td>
		<td>
			<ul>
				<li ng-repeat="comp in user.competenties">{{comp}}</li>
			</ul> 
		</td>
		<td>{{ user.vip }}</td>
		<td>
			<div>
				<a href="#/editUser" ng-click="saveId(user.id)"><img src="images/change.jpg"/></a>
			</div>			
		</td>
		<td>
			<a href="#/deleteUser" ng-click="saveId(user.id)"><img src="images/delete.png"/></a>
		</td>
	</tr>
</table>
</div>
